<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
<head>  
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />  
</head>  
<body>  
 <p>Hi <%= @admin_user.name %>,</p>

 <p><%= @requesting_user.name %> has requested a new ordering unit:</p>
 <p><%= @text %></p>  
  
 <p>Sincerely, the Ghost in the System</p>
</body> 
</html>