#sidebar { 
	border-left: 1px solid blue;
	padding-left: 10px;
	min-height: 450px;
}

ul { 
	margin-left:10px;
	padding-left:10px;
}

ul li { 
	padding-left:0px;
}
#logo {
  color: transparent;
  display:block;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: url('http://farm2.static.flickr.com/1279/4701170956_b02d725af7_m.jpg') no-repeat;
  height: 165px;
  text-indent: -9999px;
}

th { 
	font-weight:bold;
  border-bottom:1px solid black;	
}