#sidebar { 
	border-left: 1px dashed #53D03F;
	padding-left: 10px;
	padding-top:10px;
	min-height: 450px;
}

ul { 
	margin-left:10px;
	padding-left:10px;
}

ul li { 
	padding-left:0px;
}
#logo {
  color: transparent;
  display:block;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: url('http://www.order.enoriverfarmersmarket.com/images/logo-small.png') no-repeat;
  height: 155px;
  text-indent: -9999px;
}

th { 
	font-weight:bold;
  border-bottom:1px solid black;	
}

body { 
	background: url('http://www.order.enoriverfarmersmarket.com/images/background.jpg');
}

.main-content { 
	background-color:white;
}

.foo { 
	color:#53D03F;
}

.nav-buttons {
	background-color:#0E6800;
	border-bottom:1px solid #53D03F;
	height:1.8em;
	padding-top:3px;
}

.left-column { 
	padding:15px;
}

.nav-buttons a { 
	color:white;
	font-weight:bold;
	margin-left:10px;
	margin-right:10px;
}

a {
	color:#D90010;
	font-weight:500;
	text-decoration:none;
}

.delivery-cycle { 
	color:white;
	background-color:#53D03F;
	padding:5px;
	border:1px #0E6800 solid;	
}
a:hover, a:active { 
	color:#D90010;
	text-decoration:underline;
}