<div class="span-24 last left-column">
<%= render :comatose => '/views/orders/terms' %>
<p>
  <%= link_to 'Agree', finalize_user_order_url(@order.user,@order) %> or <%= link_to 'Cancel', user_order_url(@order.user,@order) %>
</p>
</div>