<div class="left-column">
<h2>New Delivery Cycle</h2>

<% form_for([:admin, @delivery_cycle]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => f %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_delivery_cycles_path %>
</div>