<div class="column span-24 last left-column">
  <h3>Invoices by Customer 
     <%= date_format(@delivery_cycle.delivery_open) %> and <%= date_format(@delivery_cycle.delivery_close) %></h3>
  <div class="column span-22 last">
    <p></b> <%= link_to ("invoices_by_customer.pdf"), :action=>:invoices_by_customer, :format=>:pdf %></p>
  </div>
  <div class="column span-22 last report-data">
    <%= @report %>
  </div>
</div>