<div class="left-column">
<h2>Editing category</h2>

<% form_for([:admin, @category]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <div class="span-4 form-label">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<div class="span-22" style="margin-bottom:15px;">
<%= link_to 'Back', admin_categories_path %>
</div>
</div>