<div class="span-17 left-column">
<h2><%= make_title(@search.conditions) %></h2>

<%#= products_by_category_ul(@categorized_products) %>

<div class="column span-22">
 <%= render :partial => '/common/product_small', :collection => @products %>
 <%= 'No products meet your criteria.' if @products.size == 0%>
</div>

<br />
</div>
<div class="span-6 last">
  <%= render :partial => 'sidebar' %>
</div>